.button {
  background-color: var(--color-3);
  color: var(--color-text-white);
  padding: 0.5rem 2rem;
  border-radius: 01rem;
  transition: 0.5s all ease;
}

.button:hover {
  transform: scale(1.03);
}

.button span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* .button {
  position: relative;
  color: var(--color-text-white);
  width: fit-content;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  transition: all 0.2s ease;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: var(--color-2);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.button span {
  position: relative;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.button svg {
  position: relative;
  top: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transform: translateX(-5px);
  margin-left: 0.5rem;

  transition: all 0.3s ease;
}
.button:hover:before {
  width: 100%;
  background: var(--color-2);
}
.button:hover svg {
  transform: translateX(0);
}
.button:active {
  transform: scale(0.96);
} */
